﻿@model ExternalUserModel

@{
    ViewData["Title"] = "User Data:";
}
<div><input asp-for="UserName" type="text" value="@Model.UserName"></div>
<div><input asp-for="FirstName" type="text" value="@Model.FirstName"></div>
<div><input asp-for="LastName" type="text" value="@Model.LastName"></div>
<div><input asp-for="Email" type="text" value="@Model.Email"></div>