﻿@using PassHolderMVC.Models
@model PassDataModel


<h3>@ViewBag.Title</h3>
<form method="post" action="Insert">

    <table border="1" cellpadding="10">
        <tr>
            <td>Name :</td>
            <td><input asp-for="Name" type="text" value="@Model.Name"></td>
        </tr>
        <tr>
            <td>Login :</td>
            <td><input asp-for="Login" type="text" value="@Model.Login"></td>
        </tr>
        <tr>
            <td>Password :</td>
            <td><input asp-for="Password" type="text" value="@Model.Password"></td>W
            <td>
                <input type="submit" value="Generate" formaction="GetPasswordNew" />
            </td>
            @if (ViewBag.ErrorMessage != null && ViewBag.ErrorMessage != "")
            {
                <td><label style="color:crimson">@ViewBag.ErrorMessage</label></td>
            }
        </tr>
        <tr>
            <td>Description :</td>
            <td><input asp-for="Description" type="text" value="@Model.Description"></td>
        </tr>
    </table>

    <br />

    <input type="submit" value="Insert" />

    <input type="submit" value="Cancel" formaction="PassDataLoad" />
</form>