﻿@using PassHolderMVC.Models
@model PassDataModel

<h3>@ViewBag.Title</h3>
Are you sure you want to delete the data?
<form method="post">
    <div style="float:left">
        <input type="submit"
               value="Yes"
               asp-action="Delete"
               asp-route-Id="@Model.Id" />
        </divstyle="float:left">
        <div style="float:right">
            <input type="submit"
                   value="No"
                   asp-action="PassDataLoad" />
        </div>
</form>