﻿@using PassHolderMVC.Models
@model PassDataModel

<h3>@ViewBag.Title</h3>
<form method="post">
    <table border="1" cellpadding="10">
        <tr>
            <td style="display: none;"><input asp-for="Id" type="text" value="@Model.Id"></td>
            <td>Name :</td>
            <td><input asp-for="Name" type="text" value="@Model.Name"></td>
        </tr>
        <tr>
            <td>Login :</td>
            <td><input asp-for="Login" type="text" value="@Model.Login"></td>
        </tr>
        <tr>
            <td>Password :</td>
            <td><input asp-for="Password" type="text" value="@Model.Password"></td>
            <td>
                <input type="submit"
                       value="Generate"
                       asp-action="GetPasswordEdit" />
            </td>
            @if (ViewBag.ErrorMessage != null && ViewBag.ErrorMessage != "")
            {
                <td><label style="color:crimson">@ViewBag.ErrorMessage</label></td>
            }
        </tr>
        <tr>
            <td>Description :</td>
            <td><input asp-for="Description" type="text" value="@Model.Description"></td>
        </tr>
    </table>

    <div style="float:left">
        <input type="submit"
               value="Save"
               asp-action="Edit" />
    </div>
    <div style="float:left">
        <input type="submit"
               value="Cancel"
               asp-action="PassDataLoad" />
    </div>

</form>


