﻿@using PassHolderMVC.Models
@model List<PassDataModel>

<h3>@ViewBag.Title</h3>
<form method="post">
    <input type="submit" value="Insert" formaction="selectnew" />

    <table border="1" cellpadding="10">
        <tr>
            <th>Name</th>
            <th colspan="2">Actions</th>
        </tr>
        @foreach (var data in Model)
        {
            if (data.Modification <= DateTime.Now.AddMonths(-1))
            {
                @:<tr style="background-color:crimson">
            }
            else
            {
                @:<tr>    
            }

            <td>
                <label for="group">@data.Name</label>
            </td>
            <td>
                <input type="submit" value="Edit" formaction="SelectEdit/@data.Id" />
            </td>
            <td>
                <input type="submit" value="Delete" formaction="SelectDelete/@data.Id" />
            </td>
        @:</tr>
        }
    </table>
    </form>