﻿@using PassHolderMVC.Models
@model PassHolderMVC.ViewModel.SelectDeleteUserViewModel

<h3>@ViewBag.Title</h3>
Are you sure you want to delete the user?
<form method="post">
    <div style="float:left">
        <input type="submit"
               value="Yes"
               asp-action="DeleteUser"
               asp-route-userId="@Model.User.Id" />
        </divstyle="float:left">
        <div style="float:right">
            <input type="submit"
                   value="No"
                   asp-action="UsersLoad" />
        </div>
</form>