﻿@using PassHolderMVC.Models
@using PassHolderMVC.ViewModel
@model SelectEditUsersViewModel

<h3>@ViewBag.Title</h3>
<form method="post">
    <table border="1" cellpadding="10">
        <tr>
            <td style="display: none;">@Html.TextBoxFor(m => m.User.Id)</td>
        </tr>
        <tr>
            <td>Name :</td>
            <td>@Model.User.UserName</td>
        </tr>
        <tr>
            <td>FirstName :</td>
            <td>@Html.TextBoxFor(m => m.User.UserName)</td>
        </tr>
        <tr>
            <td>LastName :</td>
            <td>@Html.TextBoxFor(m => m.User.LastName)</td>
        </tr>
        <tr>
            <td>Role :</td>
            <td>
                <select asp-for="User.role.Id" asp-items="@Model.Roles
            .Select(r => new SelectListItem() {Text = r.Name, Value = r.Id.ToString() })"></select>
            </td>
        </tr>
    </table>


    <br />
    <br />

    <div style="float:left">
        <input type="submit"
               value="Zapisz"
               asp-action="EditUser" />
    </div>
    <div style="float:left">
        <input type="submit"
               value="Cofnij"
               asp-action="UsersLoad" />
    </div>

</form>


