﻿@using PassHolderMVC.Models
@using PassHolderMVC.ViewModel
@model UsersViewModel

<h3>@ViewBag.Title</h3>
<form method="post">

    <br />
    <input type="submit" asp-controller="Account" asp-action="RegisterLoad" value="Add" />
    <br />
    <table border="1" cellpadding="10">
        <tr>
            <th>User Name:</th>
            <th>Role:</th>
            <th colspan="2">Actions</th>
        </tr>
        @foreach (var user in Model.Users)
        {



            <tr>
                <td>
                    <label for="group">@user.UserName </label>
                </td>
                <td>
                    <label for="group">@user.role.Name </label>
                </td>
                <td>
                    <input type="submit" value="Edit" formaction="selectedit/@user.Id" />
                </td>
                <td>
                    <input type="submit" value="Delete" formaction="selectdelete/@user.Id" />
                </td>
            </tr>

        }
    </table>
    </form>