﻿@model PassHolderMVC.Models.LogInUserModel
@{
    ViewData["Title"] = "Log in";
}
<h3>@ViewData["Title"]</h3>


<form asp-action="Login" asp-controller="Account" method="post" role="form">

    <div>
        <div>
            <label asp-for="UserName"></label><br />
        </div>

        <div>
            <input asp-for="UserName" type="text" />
            <span asp-validation-for="UserName"></span>
        </div>
    </div>

    <div>
        <div>
            <label asp-for="Password"></label><br />
        </div>

        <div>
            <input asp-for="Password" type="password" />
            <span asp-validation-for="Password"></span>
        </div>
    </div>

    <div>
        <br />
        <input type="submit" value="Log In" />
    </div>
</form>





