﻿@model PassHolderMVC.Models.RegisterUserModel

<h3>@ViewBag.Title</h3>

<form asp-action="Register" asp-controller="Account" method="post" role="form">
    <div>
        <div>
            <label asp-for="Email"></label><br />
        </div>

        <div>
            <input asp-for="Email" type="email" />
            <span asp-validation-for="Email"></span>
        </div>
    </div>

    <div>
        <div>
            <label asp-for="UserName"></label><br />
        </div>

        <div>
            <input asp-for="UserName" type="text" />
            <span asp-validation-for="UserName"></span>
        </div>
    </div>

    <div>
        <div>
            <label asp-for="FirstName"></label><br />
        </div>

        <div>
            <input asp-for="FirstName" type="text" />
            <span asp-validation-for="FirstName"></span>
        </div>
    </div>

    <div>
        <div>
            <label asp-for="LastName"></label><br />
        </div>

        <div>
            <input asp-for="LastName" type="text" />
            <span asp-validation-for="LastName"></span>
        </div>
    </div>

    <div>
        <div>
            <label asp-for="Password"></label><br />
        </div>

        <div>
            <input asp-for="Password" type="password" />
            <span asp-validation-for="Password"></span>
        </div>
    </div>
    <div>
        <div>
            <label asp-for="RoleId"></label><br />
        </div>

        <div>
            <select asp-for="RoleId" asp-items="@Model.Roles
            .Select(r => new SelectListItem() {Text = r.Name, Value = r.Id.ToString() })"></select>
        </div>
    </div>

    <div>
        <br />
        <input type="submit" value="Registration" />
    </div>
</form>





