﻿@using PassHolderMVC.Models
@using PassHolderMVC.ViewModel
@model SelectEditGroupViewModel

<h3>@ViewBag.Title</h3>
<form method="post">
    <table border="1" cellpadding="10">
        <tr>
            <td style="display: none;">@Html.TextBoxFor(m => m.Group.Id)</td>
            <td>Id :</td>
            <td>@Model.Group.Id</td>
            <td>Name :</td>
            <td>@Html.TextBoxFor(m => m.Group.Name)</td>
        </tr>
    </table>

    <h2>Users</h2>

    @if (@Model.Group.users.Count > 0)
    {
        <table border="1" cellpadding="10">

            <tr>
                <th>User Name</th>
                <th colspan="2">Actions</th>
            </tr>


            @foreach (var user in @Model.Group.users)
            {
                <tr>
                    <td>
                        <label for="group">@user.UserName</label>
                    </td>
                    <td>
                        <input type="submit"
                               value="Delete"
                               asp-action="DeleteUser"
                               asp-route-userId="@user.Id"
                               asp-route-groupId="@Model.Group.Id" />
                    </td>
                </tr>
            }
        </table>

        <br />
    }

    @if (@Model.AvaibleUsers != null && @Model.AvaibleUsers.Count > 0)
    {
        <table border="1" cellpadding="10">

            <tr>
                <th>User Name</th>
                <th>Actions</th>
            </tr>

            <tr>
                <td>
                    <select asp-for="@Model.NewUserId"
                            asp-items="@Model.AvaibleUsers.Select(r => new SelectListItem() {Text = r.UserName, Value = r.Id.ToString() })">
                    </select>
                </td>
                <td>
                    <input type="submit" value="Add" asp-action="AddUser" />
                </td>
            </tr>
        </table>
    }

    <br />
    <br />

    <div style="float:left">
        <input type="submit"
               value="Save"
               asp-action="EditGroup" />
    </div>
    <div style="float:left">
        <input type="submit"
               value="Cancel"
               asp-action="GroupsLoad" />
    </div>

</form>


