﻿@using PassHolderMVC.Models
@model GroupModel

<h3>@ViewBag.Title</h3>
<form method="post" action="Insert">

    <table border="1" cellpadding="10">
        <tr>
            <td>Name :</td>
            <td>@Html.TextBoxFor(m => m.Name)</td>
        </tr>
    </table>

    <br />

    <input type="submit" value="Insert" />

    <input type="submit" value="Cancel" formaction="groupsload" />
</form>