﻿@using PassHolderMVC.Models
@model List<GroupModel>

<h3>@ViewBag.Title</h3>
<form method="post">
    <input type="submit" value="Insert" formaction="selectnew" />
    @foreach (var group in Model)
    {
        <table border="1" cellpadding="10">
            <tr>
                <th>Group Name</th>
                <th colspan="2">Actions</th>
            </tr>

            <tr>
                <td>
                    <label for="group">@group.Name</label>
                </td>
                <td>
                    <input type="submit" value="Edit" formaction="selectedit/@group.Id" />
                </td>
                <td>
                    <input type="submit" value="Delete" formaction="selectdelete/@group.Id" />
                </td>
            </tr>
        </table>
    }
</form>