﻿@using PassHolderMVC.Models
@model PassHolderMVC.ViewModel.SelectDeleteGroupViewModel

<h3>@ViewBag.Title</h3>
Are you sure you want to delete the user group?
<form method="post">
    <div style="float:left">
        <input type="submit"
               value="Yes"
               asp-action="DeleteGroup"
               asp-route-groupId="@Model.Group.Id" />
        </divstyle="float:left">
        <div style="float:right">
            <input type="submit"
                   value="No"
                   asp-action="GroupsLoad" />
        </div>
</form>