﻿@model PassHolderMVC.ViewModel.OutsideViewModel

@{
    Layout = "_OutsideLayout";
}

@{
    ViewData["Title"] = "Log in";
}
<h3>@ViewData["Title"]</h3>


<form asp-action="Login" asp-controller="Outside" method="post" role="form">


    <div style="display: none;"><input asp-for="Ip" type="text" value="@Model.Ip"></div>
    <div style="display: none;"><input asp-for="Port" type="text" value="@Model.Port"></div>
    <div>
        <div>
            <label asp-for="UserModel.UserName"></label><br />
        </div>

        <div>
            <input asp-for="UserModel.UserName" type="text" />
            <span asp-validation-for="UserModel.UserName"></span>
        </div>
    </div>

    <div>
        <div>
            <label asp-for="UserModel.Password"></label><br />
        </div>

        <div>
            <input asp-for="UserModel.Password" type="password" />
            <span asp-validation-for="UserModel.Password"></span>
        </div>
    </div>

    <div>
        <br />
        <input type="submit" value="Log In" />
    </div>
</form>





