﻿@model PassHolderMVC.Models.PassDataModel

@using (Html.BeginForm("Delete", "PassData", FormMethod.Post))
{
    <table border="1" cellpadding="10">
        <tr>
            <td>Customer ID :</td>
            <td>
                @Html.TextBoxFor(m => m.Id,
                     new { @readonly = "readonly" })
            </td>
        </tr>
        <tr>
            <td>Name :</td>
            <td>@Html.TextBoxFor(m => m.Name)</td>
        </tr>
        <tr>
            <td>Login :</td>
            <td>@Html.TextBoxFor(m => m.Login)</td>
        </tr>
        <tr>
            <td>Password :</td>
            <td>@Html.TextBoxFor(m => m.Password)</td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="delete"
                       formaction="/PassData/delete" />
                @using (Html.BeginForm("Cancel", "PassData", FormMethod.Post))
                {
                    <input type="submit" value="Cancel"
                           formaction="/PassData/cancel" />
                }
            </td>
        </tr>
    </table>
}