﻿@using Microsoft.AspNetCore.Identity
@model PassHolderMVC.Models.PassDataModel
@inject PassHolderMVC.Repositories.IGroupsRepository GroupRepozitory
@inject UserManager<PassHolderMVC.Entities.AppUser> userManager

@using (Html.BeginForm("Update", "PassData", FormMethod.Post))
{
    var groups = await GroupRepozitory.GetAllByUserIdAsync(userManager.GetUserId(User));

<table border="1" cellpadding="10">
    <tr>
        <td>Customer ID :</td>
        <td><input asp-for="Name" type="text" value="@Model.Name" readonly="readonly"></td>
    </tr>
    <tr>
        <td>Name :</td>
        <td><input asp-for="Name" type="text" value="@Model.Name"></td>
    </tr>
    <tr>
        <td>Login :</td>
        <td><input asp-for="Login" type="text" value="@Model.Login"></td>
    </tr>
    <tr>
        <td>Password :</td>
        <td><input asp-for="Password" type="text" value="@Model.Password"></td>
        <td>
            <input type="submit"
                   value="Generate"
                   asp-action="GetPasswordEdit" />
        </td>
        @if (ViewBag.ErrorMessage != null && ViewBag.ErrorMessage != "")
        {
            <td>
                <label style="color:crimson">@ViewBag.ErrorMessage</label>
            </td>
        }
    </tr>
    <tr>
        <td>Description :</td>
        <td><input asp-for="Description" type="text" value="@Model.Description"></td>
    </tr>>

    <tr>
        <td>Group :</td>
        <td><select asp-for="@Model.GroupId" asp-items="groups.Select(r => new SelectListItem() {Text = r.Name, Value = r.Id.ToString() })"></select></td>
    </tr>

    <tr>
        <td colspan="2">
            <input type="submit" value="Save"
                   formaction="/PassData/update" />
            @using (Html.BeginForm("Cancel", "PassData", FormMethod.Post))
            {
                <input type="submit" value="Cancel"
                       formaction="/PassData/cancel" />
            }
        </td>
    </tr>
</table>
}