﻿@using Microsoft.AspNetCore.Identity
@model PassHolderMVC.Models.PassDataModel
@inject PassHolderMVC.Repositories.IGroupsRepository GroupRepozitory
@inject UserManager<PassHolderMVC.Entities.AppUser> userManager

@using (Html.BeginForm("Edit", "PassData", FormMethod.Post))
{
    var groups = await GroupRepozitory.GetAllByUserIdAsync(userManager.GetUserId(User));

    var groupName = @groups.FirstOrDefault(g => g.Id == Model.GroupId)?.Name;
    if (string.IsNullOrEmpty(groupName))
    {
        groupName = "";
    }

    <table border="1" cellpadding="10">
        <tr>
            <td>Id :</td>
            <td>@Model.Id</td>
        </tr>
        <tr>
            <td>Name :</td>
            <td>@Model.Name</td>
        </tr>
        <tr>
            <td>Login :</td>
            <td>@Model.Login</td>
        </tr>
        <tr>
            <td>Password :</td>
            <td>@Model.Password</td>
        </tr>

        <tr>
            <td>Group :</td>
            <td>@groupName</td>
        </tr>

        <tr>
            <td colspan="2">
                <input type="submit" value="Edit"
                       formaction="/PassData/edit/@Model.Id" />

                @using (Html.BeginForm("Cancel", "PassData", FormMethod.Post))
                {
                    <input type="submit" value="Cancel"
                           formaction="/PassData/cancel" />
                }

            </td>
        </tr>
    </table>
}