﻿@model PassHolderMVC.ViewModel.PassDataViewModel

<h1>PassData</h1>

<form method="post">
    <input type="submit" value="Insert" formaction="new" />
    <br /><br />
    <table border="1" cellpadding="10">
        <tr>
            <th>PassData ID</th>
            <th>PassData Name</th>
            <th colspan="2">Actions</th>
        </tr>
        
        @foreach (var item in Model.PassDatas)
        {
            if (Model.SelectedPassData != null)
            {
                if (item.Id == Model.SelectedPassData.Id)
                {
                    if (item.Modification <= DateTime.Now.AddMonths(-1))
                    {
                        @:<tr class="SelectedCustomer" style="background-color:lightcoral">
                    }
                    else
                    {
                        @:<tr class="SelectedCustomer">
                    }
                        
                    }
                else
                {
                    if (item.Modification <= DateTime.Now.AddMonths(-1))
                    {
                        @:<tr style="background-color:crimson">
                    }
                    else
                    {
                        @:<tr>
                    }
                }
            }
            else
            {
                    @: <tr>
                }
            <td>@item.Id</td>
                    <td>
                        <label for="group">@item.Name</label>
                    </td>
                    <td>
                        <input type="submit" value="Show" formaction="select/@item.Id" />
                    </td>
                    <td>
                        <input type="submit" value="Delete" formaction="selectdelete/@item.Id"/>
                    </td>
                @:</tr>
        }
    </table>
</form>
<br /><br />
    @{
        if (Model.SelectedPassData != null)
        {
            if (Model.DisplayMode == "ReadOnly")
            {
                await Html.RenderPartialAsync("_ShowPassData", Model.SelectedPassData);
            }
            if (Model.DisplayMode == "ReadWrite")
            {
                await Html.RenderPartialAsync("_EditPassData", Model.SelectedPassData);
            }
        }
        if (Model.DisplayMode == "WriteOnly")
        {
            await Html.RenderPartialAsync("_InsertPassData", Model.SelectedPassData);
        }
        if (Model.DisplayMode == "DeleteOnly")
        {
            await Html.RenderPartialAsync("_DeletePassData", Model.SelectedPassData);
        }
    }
