﻿@using Microsoft.AspNetCore.Identity;
@using PassHolderMVC.Entities;
@using System.Linq

@inject SignInManager<AppUser> SingInManager;
@inject UserManager<AppUser> UserManager;
@inject PassHolderMVC.Services.IUserManagerService UserManagerService;


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PassHolderMVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">PassHolderMVC</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">

                        @if (SingInManager.IsSignedIn(User))
                        {


                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="PassData" asp-action="PassDataLoad">PassData</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="UserPassData" asp-action="PassDataLoad">UserPassData</a>
                            </li>


                            @if (UserManagerService.IsInRolebyId(User, 1) || UserManagerService.IsInRolebyId(User, 2))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-controller="Group" asp-action="GroupsLoad">Groups</a>
                                </li>

                            }

                            @if (UserManagerService.IsInRolebyId(User, 1))
                                                {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-controller="Users" asp-action="UsersLoad">Users</a>
                                </li>
                            }

                            <li>
                                <a class="nav-link text-dark" asp-controller="Account" asp-action="Logout">@User.Identity.Name, Logout</a>
                            </li>

                        }
                        else
                        {
                            <a class="nav-link text-dark" asp-controller="Account" asp-action="LoadLogin">Sing in</a>

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Account" asp-action="RegisterLoad">Sing up</a>
                            </li>
                        }
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - PassHolderMVC - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
